.bottom-title{
  max-width: 25em;
  padding: 1em 3em 1em 3em;
  margin: 0em auto;
  text-align: center;
  background: linear-gradient(#DA52FE, #9198e5);
}

.bottom-content{
  display: flex;
  justify-content: space-around;
}
